/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_leftpar {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp LEFT_PARENTHESIS>;
        };

        combo_rightpar {
            key-positions = <18 19>;
            bindings = <&kp RIGHT_PARENTHESIS>;
        };

        combo_leftbarcket {
            bindings = <&kp LBRC>;
            key-positions = <28 29>;
            bindings = <&kp LBRC>;   // [
        };

        combo_rightbracket {
            key-positions = <30 31>;
            bindings = <&kp RBRC>;   // ]
        };

        combo_leftbrace {
            key-positions = <40 41>;
            bindings = <&kp LBKT>;   // {
        };

        combo_rightbrace {
            key-positions = <44 45>;
            bindings = <&kp RBKT>;   // }
        };

        combo_minus {
            key-positions = <15 16>;
            bindings = <&kp MINUS>;
        };

        combo_plus {
            key-positions = <14 15>;
            bindings = <&kp PLUS>;
        };

        combo_double_quotes {
            key-positions = <27 28>;
            bindings = <&kp DOUBLE_QUOTES>;
        };

        combo_sqt {
            key-positions = <31 32>;
            bindings = <&kp SQT>;
        };

        combo_pipe {
            key-positions = <20 21>;
            bindings = <&kp PIPE>;
        };

        combo_less_than {
            key-positions = <39 40>;
            bindings = <&kp LESS_THAN>;
        };

        combo_greater_than {
            key-positions = <45 46>;
            bindings = <&kp GREATER_THAN>;
        };

        combo_tilde {
            key-positions = <12 24>;
            bindings = <&kp TILDE>;
        };

        combo_grave {
            key-positions = <24 36>;
            bindings = <&kp GRAVE>;
        };

        combo_underscore {
            key-positions = <20 21>;
            bindings = <&kp UNDERSCORE>;
        };
    };

    behaviors {
        ALT_SHIFT_TOGGLE: behavior-keypress {
            compatible = "zmk,behavior-keypress";
            label = "ALT+SHIFT TAP";
            #binding-cells = <2>;
            key-press = <&kp LALT &kp LSHIFT>;
        };

        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   DEL    |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |  [/]     |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   SHIFT  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   |     \    |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&hrm ESC LA(LEFT_SHIFT)  &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PRCNT                                  &kp CARET      &kp AMPS                      &kp ASTRK        &kp LPAR  &kp RPAR  &lt 1 DELETE
&kp TAB                  &kp Q     &kp W   &kp E     &kp R       &kp T                                      &kp Y          &kp U                         &kp I            &kp O     &kp P     &hrm RBKT LBKT
&kp LEFT_SHIFT           &kp A     &kp S   &kp D     &kp F       &kp G                                      &kp H          &kp J                         &kp K            &kp L     &kp SEMI  &hrm RIGHT_SHIFT SQT
&hrm LCTRL KP_NUMBER_5   &kp Z     &kp X   &kp C     &kp V       &kp B        &kp ENTER          &kp ENTER  &kp N          &kp M                         &kp COMMA        &kp DOT   &kp FSLH  &kp BACKSLASH
                                           &kp LALT  &kp LGUI    &lt 2 SPACE  &lt 1 BACKSPACE    &kp SPACE  &kp BACKSPACE  &hrm KP_NUMBER_3 KP_NUMBER_1  &kp KP_NUMBER_1
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&bt BT_CLR        &bt BT_SEL 0      &bt BT_SEL 1       &bt BT_SEL 2       &bt BT_SEL 3  &bt BT_SEL 4                    &trans     &trans                        &kp RIGHT_ALT    &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &trans
&kp F1            &kp F2            &kp F3             &kp F4             &kp F5        &kp F6                          &kp F7     &kp N7                        &kp N8           &kp N9           &kp F11            &kp F12
&kp F7            &kp F8            &kp F9             &kp F10            &kp F11       &kp F12                         &kp CARET  &kp N4                        &kp N5           &kp N6           &kp RPAR           &kp TILDE
&kp LEFT_CONTROL  &ext_power EP_ON  &ext_power EP_OFF  &ext_power EP_TOG  &trans        &trans        &trans    &trans  &trans     &kp N1                        &kp N2           &kp N3           &kp N0             &kp PIPE
                                                       &trans             &trans        &trans        &trans    &trans  &trans     &hrm KP_NUMBER_3 KP_NUMBER_1  &kp KP_NUMBER_2
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans     &trans  &trans       &trans    &trans         &trans                      &trans       &trans       &trans     &trans         &trans    &trans
&kp GRAVE  &kp N1  &kp PAGE_UP  &kp UP    &kp PAGE_DOWN  &kp HOME                    &kp N6       &kp PAGE_UP  &kp UP     &kp PAGE_DOWN  &kp HOME  &trans
&kp F1     &kp F2  &kp LEFT     &kp DOWN  &kp RIGHT      &kp END                     &trans       &kp LEFT     &kp DOWN   &kp RIGHT      &kp END   &trans
&kp F7     &kp F8  &kp F9       &kp F10   &kp F11        &kp F12   &trans    &trans  &kp KP_PLUS  &kp MINUS    &kp EQUAL  &kp LBKT       &kp RBKT  &kp BSLH
                                &trans    &trans         &trans    &trans    &trans  &trans       &trans       &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
